.notification-list {
  position: relative;

  .notification-bar {
    position: relative !important;
    bottom: auto !important;
    right: 0;
    left: 0 !important;
    margin: 5px 0px !important;
    font-size: 12px !important;
    background-color: $error !important;

    .notification-bar-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .notification-bar-action {
        color: black !important;
        font-size: 1rem !important;
        position: absolute;
        right: 5px;
        font-weight: bold !important;
      }
    }
  }
}

.logo {
  max-width: 100%;
  padding: 20px;
}

.card {
  margin: 40px;
}

[class^='theme__card'] {
  p {
    text-align: left;
  }

  [class^='theme__cardText'] {
    text-align: left;
  }

  .contact, .location {
    display: inline-block;
    width: 100%;
    text-align: left;

    h4 {
      display: inline-block;
      margin-right: 20px;
    }

    p {
      display: inline-block;
    }
  }

  .socialLink {
    margin: 20px 20px 20px 0 !important;
  }
 
  .sponsorContainer {
    display: inline-block;
    width: 200px;
    margin: 20px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    text-align: center;

    img {
      height: 100px;
      left: -100%;
      right: -100%;
      position: absolute;
      margin: auto;
    }

    h3 {
      margin-top: 120px;
    }
  }
}
