.newsFeed {
  margin: 30px auto;
  max-width: 510px;

  html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
  }

  .border {
    border-color: black;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .fullscreen-frame {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 5%;
    position: fixed;
    z-index: 2000;
    overflow: hidden;
  }

  .img-overlay-close {
    top: 20px;
    right: 20px;
    color: $grey;
    size: 200;
    position: absolute;

    :hover {
      color: white;
    }
  }

  .img-container {
    height: 100%;
    width: 100%;
    padding: 1%;
    text-align: center;

    img {
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }

  .helper {
    height: 100%;
    vertical-align: middle;
  }

  .inline {
    display: inline-block;
  }

  .facebook {
    background-color: $facebook !important;
  }

  .twitter {
    background-color: $twitter !important;
  }

  .disabled-social {
    background-color: $grey !important;
  }

  .clickable {
    cursor: pointer;
    cursor: hand;
  }

  .link {
    color: $blue;
    text-decoration: underline;
  }

  .default-cursor {
    cursor: default;
  }

  .no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  .newsfeedMedia {
    width: 100%;
  }

  .user-post {
    textarea {
      width: 100%;
      border: none;
    }

    [class^='theme__cardMedia'] > [class^='theme__content']:hover {
      background-color: rgba(255, 255, 255, 0.5);

      .photo-delete {
        color: black;
      }
    }

    .photo-delete {
      position: absolute;
      top: 10px;
      right: 10px;
      color: rgba( 150, 150, 150, 0.8);

      &:hover {
         opacity: 0.5;
      }
     }

    [class^='theme__cardTitle'] {
      padding: 30px 36px;
    }

    [class^='theme__cardText'] {
      padding: 0px 36px;
    }

    [class^='theme__cardActions'] {
      border-top: 1px solid lightgrey;
      margin: 20px 20px 0;
      width: initial;

      .postOptions {
        flex-grow: 1;
        text-align: right;

        .soc {
          width: 50px;
          height: 40px;
          padding: 0 !important;
        }
      }
    }
  }

  .newsfeed-posts {
    margin-top: 40px;

    .post-action {
      position: absolute;
      right: 36px;
      top: 30px;
    }

    .admin-delete {
      position: absolute;
      right: 5px;
      top: 20px;
    }

    .admin-unflag {
      position: absolute;
      right: 100px;
      top: 20px;
    }

    .post-action, .post-interaction {
      color: $darkestGrey;
      overflow: visible;

      &:hover {
        opacity: 0.7;
      }
    }


    [class^='theme__card_'] {
      margin: 30px 0;
      position: relative;

      h5, p {
        text-align: left;
      }

      [class^='theme__cardTitle'] {
        padding: 30px 36px;
      }

      [class^='theme__cardText'] {
        padding: 0px 36px 20px 36px;
      }

      [class^='theme__cardActions'] {
        border-top: 1px solid lightgrey;
        font-size: 20px;
        color: $darkestGrey;
        margin: 20px 20px 0;
        padding: 15px 16px !important;
        width: initial;

        .heart-icon {
          vertical-align: text-bottom;
        }

        .repost-icon {
          margin-left: 30px;
        }

        .like-count {
          margin-left: 10px;
        }

        .date-newsfeed {
          font-size: 16px;
          padding-top:0.5em;
        }

        .date {
          float: right;
        }

        .show-image {
          margin-left: 8%;
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }

  .paginate {
    text-align: center;
    font-size: 16px;
  }
}

